<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"wp--skip-link--target","className":"site-main site-main--index","layout":{"type":"default"}} -->
<main id="wp--skip-link--target" class="wp-block-group site-main site-main--index">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--50)">
		<!-- wp:heading {"level":1,"fontSize":"xx-large","fontFamily":"syne"} -->
		<h1 class="wp-block-heading has-xx-large-font-size">Writing</h1>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--80)">
		<!-- wp:pattern {"slug":"ayan-modern/post-row"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
